* {
  margin: 2px;
  padding: 3px;
  box-sizing: border-box;
}

img {
  width: 50vb;
  height: auto;
}

@media screen and (min-width: 786px) {
  .Obj1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
  }
}
